{% load bootstrap5 %}
{% load static%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>Views - {{title}}</title>
    {% else %}
    <title> Views </title>
    {% endif %}

    {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
    <script src="https://kit.fontawesome.com/fc57a8925a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}
</head>

<body>
    {% include "navbar.html" %}

    <!-- Modal -->

    <div class="modal fade" id="imageModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title" id="img-name"></h5>
                </div>
                <div class="modal-body" style="position: relative;" class="text-centre">
                    <a id="img-link" style="cursor: zoom-in;"><img alt="image" class="mod-img"></a>
                    <div class="details-content">
                        <div class="img-share" onclick="share()">
                            <a id="share" class="share-icon"><i class="fas fa-share-alt"></i></a>
                        </div>
                        <a id="img-cat" class="badge badge-secondary"></a>
                        <div class="details-meta">
                            <i class="fas fa-map-marker-alt"></i>&nbsp;<a id="img-loc" style="color: #333;"></a>
                            <time id="img-pos"></time>
                        </div>
                    </div>
                    <p id="img-desc"></p>
                    <input name="" id="copy-url" style="position:relative;left:15000px; height: 1px;">
                </div>
            </div>
        </div>
    </div>

    {% block content %}
    {%endblock%}

    {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% bootstrap_javascript %}
    <script src=" {% static 'js/script.js' %}"></script>
    {% endblock %}
</body>

</html>